.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.backButton {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background: gray;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fbfbfb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backButton:hover,
.backButton:focus {
  background: rgb(66, 65, 65);
  color: #fbfbfb;
}

.details {
  display: flex;
  gap: 20px;
}

.poster {
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.infoTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}

.infoText {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}

.infoText span {
  font-size: 18px;
}

.additionalInfo {
  text-align: left;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.additionalInfo a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  position: relative;
  transition: color 250ms ease;
}

.additionalInfo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 250ms ease;
}

.additionalInfo a:hover::after {
  width: 100%;
}

.additionalInfo a:hover {
  color: inherit;
}
