.form {
  display: flex;
  align-items: left;
  background: white;
  width: 700px;
  gap: 10px;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 4px 15px;
}

.button {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background: gray;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fbfbfb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: rgb(66, 65, 65);
  border: none;
}

.pager {
  display: flex;
  gap: 10px;
  margin: 10px;
  justify-content: center;
}

.pager a {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  background: gray;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fbfbfb;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pager a:hover,
.pager a:focus {
  background: rgb(66, 65, 65);
}
